<?xml version="1.0" encoding="utf-8"?>
<!--
For more information on how to configure your ASP.NET application, please visit
http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" />
  </configSections>
  <appSettings>
    <add key="FolderPath" value="~/Ensure/SearchEngine/Files/" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="UseTransferRequestForUrlReWriting" value="false" />
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/Images/;" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />

    <add connectionString="Data Source=DESKTOP-NJ68RQA\BIKESHSQL;Initial Catalog=dbstock;User ID=sa;Password=9840093648;Connection Timeout=120" name="dbensureConnectionString" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=DESKTOP-NJ68RQA\BIKESHSQL;Initial Catalog=dbstock;User ID=sa;Password=9840093648;Connection Timeout=120" name="dbensureConnectionStringGet" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
  For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

  The following attributes can be set on the <httpRuntime> tag.
  <system.Web>
  <httpRuntime targetFramework="4.5.1" />
  </system.Web>
  -->
  <system.web>
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider" />
      </providers>
    </sanitizer>
    <sessionState timeout="120" />
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <httpRuntime maxRequestLength="2097151" requestValidationMode="2.0" targetFramework="4.5.1"  />
    <!--enable = "true"
    requestLengthDiskThreshold="512" useFullyQualifiedRedirectUrl="true"/>-->
    <!--<customErrors mode="On" defaultRedirect="HttpErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
    <error statusCode="404" redirect="HttpErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>-->
    <!--this line is added in:oct-29-2014 by sunila for  remote machines-->
    <!--<httpModules>-->
    <!--for login control-->
    <!--
    <add name="SingleSessionEnforcement" type="Ensure.BllDalClasses.BllClass.Common.SingleSessionEnforcement" />
    </httpModules>-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <customErrors mode="RemoteOnly" />
    <!--...................................................................-->
    <!--this is disabled due to problem is signalR. sunila dated:08-may-2017-->
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="AES" />
    <!--validation="3DES" decryption="3DES"/> -->
    <anonymousIdentification enabled="true" />
    <compilation debug="true" strict="false" explicit="true" >
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <controls>
        <!--<add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajaxToolkit" />-->
        <add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <!--<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />-->
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbensureConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <!--for profile property -->
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="dbensureConnectionString" applicationName="/" />
      </providers>
      <properties>
        <add name="DefaultFont" allowAnonymous="true" defaultValue="Arial" />
        <add name="NepaliFont" allowAnonymous="true" />
        <add name="FiscalYear" allowAnonymous="true" />
        <add name="BranchCode" allowAnonymous="true" />
        <add name="BRANCHID" allowAnonymous="true" type="System.Int32" />
        <add name="UserName" allowAnonymous="true" />
        <add name="UserCode" allowAnonymous="true" />
        <add name="ServerDate" allowAnonymous="true" />
        <add name="GroupCode" allowAnonymous="true" />
        <add name="USERID" allowAnonymous="true" />
        <add name="ServerDateTime" allowAnonymous="true" />
        <add name="IsAdmin" allowAnonymous="true" type="System.Boolean" />
        <add name="SystemType" allowAnonymous="true" type="System.Int32" />
        <add name="En_SumInsured" allowAnonymous="true" type="System.Int32" />
        <add name="Dashboard_Data" allowAnonymous="true" type="System.Data.DataSet" />
        <add name="CompanyId" allowAnonymous="true" type="System.Int32" />
        <add name="CompanyName" allowAnonymous="true" />
        <add name="CompanyName_Nep" allowAnonymous="true" />
        <add name="FiscalYearStDt" allowAnonymous="true" />
        <add name="FiscalYearEnDt" allowAnonymous="true" />
        <add name="BankDepositFrom" allowAnonymous="true" type="System.Int32" />
        <add name="PolicyFont" allowAnonymous="true" type="System.Int32" />
        <add name="PrintDA" allowAnonymous="true" type="System.Int32" />
        <add name="MotorExcess" allowAnonymous="true" type="System.Int32" />
        <add name="SUBBRANCHCODE" allowAnonymous="true" />
        <add name="SUBBRANCHID" allowAnonymous="true" type="System.Int32" />
        <add name="BranchName" allowAnonymous="true" />
        <add name="SubBranchName" allowAnonymous="true" />
        <add name="PaisaAdjLimit" allowAnonymous="true" type="System.Decimal" />
        <add name="BackDateApproval" allowAnonymous="true" type="System.Int32" />
        <add name="VEntryType" allowAnonymous="true" type="System.Int32" />
        <add name="KYCCitizenship" allowAnonymous="true" type="System.Int32" />
        <add name="SessionId" allowAnonymous="true" />
        <add name="WizTask" allowAnonymous="true" />
        <add name="DOCID" allowAnonymous="true" type="System.Int32" />
        <add name="TEMPID" allowAnonymous="true" type="System.Int32" />
        <!--<add name="UserID" allowAnonymous="true" type="System.Int16" /> -->
        <add name="LoginTry" allowAnonymous="true" type="int" />
        <add name="IsDynamicMenu" allowAnonymous="true" type="int" />
        <add name="validSurveyor" allowAnonymous="true" type="int" />
        <add name="DEFAULTCHEQUEBANK" allowAnonymous="true" type="int" />
        <add name="DEFAULTCHEQUENO" allowAnonymous="true" type="int" />
        <add name="SUMINSUREDINNIL" allowAnonymous="true" type="int" />
        <add name="EXPIRYDAY" allowAnonymous="true" type="System.Int32" />
        <add name="SalaryBasis" allowAnonymous="true" type="System.Int32" />
        <add name="isAddPhoto" allowAnonymous="true" type="int" />
        <add name="SendActivationCode" allowAnonymous="true" type="System.Int32" />
        <add name="FilterAccountNameCOde" allowAnonymous="true" type="System.Int32" />
        <add name="IsMannualCreditNoteNo" allowAnonymous="true" type="System.Int32" />
        <add name="EnableCommAdj" allowAnonymous="true" type="System.Int32" />
        <add name="ExcessLimitCollection" allowAnonymous="true" type="System.Decimal" />
        <add name="EnableDepositCollection" allowAnonymous="true" type="System.Int32" />
        <add name="HasClientPortal" allowAnonymous="true" type="System.Int32" />
        <add name="ISSUPERUSER" allowAnonymous="true" type="System.Int32" />
        <add name="LoadAsPerGL" allowAnonymous="true" type="System.Int32" />
        <add name="settleoption" allowAnonymous="true" type="System.Int32" />
        <add name="getipaddress" allowAnonymous="true" />
        <add name="ISMANNUALVATRECEIPT" allowAnonymous="true" type="System.Int32" />
        <add name="IsSeparateVatReceipt" allowAnonymous="true" type="System.Int32" />
        <add name="DebitNoteWithAdvice" allowAnonymous="true" type="System.Int32" />
        <add name="NoOfSearch" allowAnonymous="true" type="System.Int32" />

        <add name="ClaimForceEditUserId" allowAnonymous="true" type="System.Int32" />
        <add name="ClaimRestrictForApproval" allowAnonymous="true" type="System.Int32" />
        <add name="AutoApproveRI" allowAnonymous="true" type="System.Int32" />
        <add name="ForceEditKYC" allowAnonymous="true" type="System.Int32" />
        <add name="ForceEditSpClientName" allowAnonymous="true" type="System.Int32" />
        <add name="DisableHtmlExtender" allowAnonymous="true" type="System.Int32" />
        <add name="ForceRepairDeclaration" allowAnonymous="true" type="System.Int32" />
        <add name="LastReqDateTime" allowAnonymous="true" type="System.DateTime" />
        <add name="IdleTimeOut" allowAnonymous="true" type="System.Int32" />
        <add name="Multiple_voucher_app" allowAnonymous="true" type="System.Int32" />
        <add name="ppwnotification" allowAnonymous="true" type="System.Int32" />
        <add name="deadline_alert" allowAnonymous="true" type="System.Int32" />
        <add name="isconnected_user" allowAnonymous="true" type="System.Int32" />
        <add name="Rep_Path_Alias" allowAnonymous="true" />

        <add name="USER_FLDID" allowAnonymous="true" type="System.Int32" />
        <add name="USER_FLD_CODE" allowAnonymous="true" />


        <add name="SeperateClaimCattle" allowAnonymous="true" type="System.Int32" />

        <add name="comm_pay_mode" allowAnonymous="true" type="System.Int32" />
        <add name="cr_node_paymode" allowAnonymous="true" type="System.Int32" />

        <add name="kyc_validation" allowAnonymous="true" type="System.Int32" />
        <add name="EnableMakerCheckerConpcept" allowAnonymous="true" type="System.Int32" />
        <add name="TmiNilValidation" allowAnonymous="true" type="System.Int32" />
        <add name="templatemapping" allowAnonymous="true" type="System.Int32" />
        <add name="SYNC_IRD_IN_REALTIME" allowAnonymous="true" type="System.Int32" />
        <add name="IRD_USERNAME" allowAnonymous="true" />
        <add name="IRD_PASSWORD" allowAnonymous="true" />
        <add name="VatReg" allowAnonymous="true" />
        <add name="applyNewSecurity" allowAnonymous="true" type="System.Int32" />
        <add name="IsDemo" allowAnonymous="true" type="System.Int32" />
        <add name="ReceiptVatPrintflag" allowAnonymous="true" type="System.Int32" />
        <add name="IsCounterUser" allowAnonymous="true" type="System.Int32" />
        <add name="DefaultLogInPage" allowAnonymous="true" type="System.Int32" />

        <add name="BACK_DATE_WITHDRAW" allowAnonymous="true" type="System.Int32" />
        <add name="ALLOW_SUR_FUTURE_DEPUTE" allowAnonymous="true" type="System.Int32" />
        <add name="ALLOW_SUR_BACKDATE_DEPUTE" allowAnonymous="true" type="System.Int32" />
        <add name="DebitCaption" allowAnonymous="true" />
        <add name="PrinterType" allowAnonymous="true" type="System.Int32" />
        <add name="UseClmRecom" allowAnonymous="true" type="System.Int32" />
        <add name="UseRefundRecom" allowAnonymous="true" type="System.Int32" />
        <add name="EnableCollectionImport" allowAnonymous="true" type="System.Int32" />
        <add name="HasTwoVatInvoice" allowAnonymous="true" type="System.Int32" />
        <add name="GenAllProforma" allowAnonymous="true" type="System.Int32" />
        <add name="RVGenType" allowAnonymous="true" type="System.Int32" />
        <!--RVGenType : 0 = policywise, 1 = daywise-->
        <add name="GPA_Breakdown_Type" allowAnonymous="true" type="System.Int32" />
        <!--TO ALLOW CLAIM REGISTER BEFORE ENDORSEMENT SET 1 TO VALIDATE 0 TO SKIP-->
        <add name="APPCLAIM_BEF_ENDORSE" allowAnonymous="true" type="System.Int32" />
        <add name="AttachmentPath" allowAnonymous="true" />
        <!--GPA_Breakdown_Type : 0 = flat, 1 = memberwise-->
        <!--<add name="EnableDepositWithdraw" allowAnonymous="true" type="System.Int32"/>-->
      </properties>
    </profile>
    <!--end profile property -->
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="dbensureConnectionString" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="Cache_MsDepartment" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_MsClass" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_Msfieldofficer" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_MsAgent" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_MsSubAgent" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_MsBusiType" connectionStringName="dbensureConnectionString" pollTime="5000" />

          <add name="Cache_UwFiscalYear" connectionStringName="dbensureConnectionString" pollTime="5000" />

          <add name="Cache_Zone" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_District" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_MsBranch" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_MsSubbranch" connectionStringName="dbensureConnectionString" pollTime="5000" />

          <add name="Cache_Def_Motor_MakeVehicle" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_MSMOTORCLASSCATEGORY" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_MSBUSIOCCP" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_Def_Motor_MakeModel" connectionStringName="dbensureConnectionString" pollTime="5000" />
          <add name="Cache_Def_Motor_VehicleName" connectionStringName="dbensureConnectionString" pollTime="5000" />
        </databases>
      </sqlCacheDependency>
    </caching>

  </system.web>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <!--<modules runAllManagedModulesForAllRequests="true">-->
    <!--for login control-->
    <!--
    <add name="SingleSessionEnforcement" type="Ensure.BllDalClasses.BllClass.Common.SingleSessionEnforcement" />
    </modules>-->
  </system.webServer>
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.5" newVersion="1.4.9.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.1.0" newVersion="17.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>